#cart-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  background: white;
  display: table;
  padding: 0.75rem;
  box-shadow: 0px 0.25rem 0.75rem rgba(0, 10, 20, 0.2);
  border-radius: 50%;
  cursor: hand;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1000;
}

#cart-button.show {
  background: #6772e5;
}

#cart-button.show:hover {
  background: #828bf2;
}

#cart-button:hover {
  box-shadow: 0px 0.125rem 0.625rem rgba(0, 10, 20, 0.3);
  transform: translateY(-2px);
}

#cart-button .fa {
  display: table-cell;
  color: #8898aa;
  font-size: 2rem;
}

#cart-button.show .fa {
  color: white;
}

#cart {
  position: fixed;
  z-index: 1000;
  bottom: 6rem;
  right: 1.5rem;
  background: white;
  display: none;
  box-shadow: 0px 0.25rem 0.75rem rgba(0, 10, 20, 0.2);
  border-radius: 1rem;
  width: 18rem;
  color: white;
}

#cart-content {
  padding: 1rem;
}

.checkout {
  color: white;
  font-weight: bold;
  background: #6772e5;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: all 0.2s ease;
}

.checkout .fa {
  transition: all 0.2s ease;
}

.checkout:hover {
  background: #828bf2;
}

.checkout:hover .fa {
  margin-left: 0.25rem;
}

.removeFromCart {
  position: absolute;
  right: 1rem;
  border-radius: 50%;
  z-index: 1000;
  transition: all 0.2s ease;
}

.removeFromCart .fa {
  color: #d7e2ef;
  transition: all 0.2s ease;
}

.removeFromCart:hover .fa {
  color: #8898aa;
}

#count {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background: #FF587B;
  height: 1.2rem;
  width: 1.2rem;
  z-index: 2000;
  transform: translateY(-0.5rem);
  font-size: 0.8rem;
}
