body {
  font-family: 'Roboto', sans-serif;
}

.purple-text-hover:hover {
  color: #6772e5 !important;
}

.white-blue-slant {
  height: 4rem;
  background: #f6f9fc;
  background: -webkit-linear-gradient(left top, transparent 50%, #f6f9fc 50%);
  background: -o-linear-gradient(bottom right, transparent 50%, #f6f9fc 50%);
  background: -moz-linear-gradient(bottom right, transparent 50%, #f6f9fc 50%);
  background: linear-gradient(to bottom right, transparent 50%, #f6f9fc 50%);
}

.white-blue-slant-alt {
  height: 2rem;
  background: #f6f9fc;
  background: -webkit-linear-gradient(right top, #f6f9fc 50%, transparent 50%);
  background: -o-linear-gradient(bottom left, #f6f9fc 50%, transparent 50%);
  background: -moz-linear-gradient(bottom left, #f6f9fc 50%, transparent 50%);
  background: linear-gradient(to bottom left, #f6f9fc 50%, transparent 50%);
}

.text-shade {
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3);
}

.slice-1 {
  opacity: 0.2;
  height: calc(100% + 4rem);
  background: #3ef2c2;
  background: -webkit-linear-gradient(110deg, #3ef2c2 60%, transparent 40%);
  background: -o-linear-gradient(110deg, #3ef2c2 60%, transparent 40%);
  background: -moz-linear-gradient(110deg, #3ef2c2 60%, transparent 40%);
  background: linear-gradient(110deg, #3ef2c2 60%, transparent 40%);
  position: absolute;
  z-index: -2;
  width: 100%;
}

.slice-2 {
  opacity: 0.2;
  height: calc(100% + 4rem);
  background: #3ef2c2;
  background: -webkit-linear-gradient(20deg, #4fedff 55%, transparent 45%);
  background: -o-linear-gradient(20deg, #4fedff 55%, transparent 45%);
  background: -moz-linear-gradient(20deg, #4fedff 55%, transparent 45%);
  background: linear-gradient(20deg, #4fedff 55%, transparent 45%);
  position: absolute;
  z-index: -1;
  width: 100%;
}

.slice-4 {
  opacity: 0.5;
  height: calc(100% + 4rem);
  background: #3ef2c2;
  background: -webkit-linear-gradient(70deg, #1e56ff 50%, transparent 50%);
  background: -o-linear-gradient(70deg, #1e56ff 50%, transparent 50%);
  background: -moz-linear-gradient(70deg, #1e56ff 50%, transparent 50%);
  background: linear-gradient(70deg, #1e56ff 50%, transparent 50%);
  position: absolute;
  z-index: -3;
  width: 100%;
}

.slice-5 {
  opacity: 1;
  position: absolute;
  height: calc(100% + 4rem);
  background: #6600ff;
  background: -webkit-linear-gradient(50deg, #6600ff, #00ffff);
  background: -o-linear-gradient(50deg, #6600ff, #00ffff);
  background: -moz-linear-gradient(50deg, #6600ff, #00ffff);
  background: linear-gradient(50deg, #6600ff, #00ffff);
  z-index: -4;
  width: 100%;
}

.down {
  background: white;
  position: absolute;
  border-radius: 50%;
  position: absolute;
  transform: translateY(calc(-50% + -2rem));
  left: calc(50% - 24px);
}

.down:hover {
  transform: translateY(calc(-50% + -1.9rem));
  background: #f9fcff;
}

.down .fa {
  padding: 1rem;
}

/*products*/
.product {
  transition: all 0.2s ease;
  cursor: hand;
  cursor: pointer;
  margin-bottom: 2rem;
}

.product .white {
  height: 100%;
  overflow: hidden !important;
  background: transparent;
  background: -webkit-linear-gradient(-80deg, #ffffff 70%, #f2f2ff 30%);
  background: -o-linear-gradient(-80deg, #ffffff 70%, #f2f2ff 30%);
  background: -moz-linear-gradient(-80deg, #ffffff 70%, #f2f2ff 30%);
  background: linear-gradient(-80deg, #ffffff 70%, #f2f2ff 30%);
}

.product .white h3,
.product .white p {
  z-index: 200;
}

.product:hover {
  transform: translateY(-2px);
}

.addToCart {
  position: absolute;
  right: 2rem;
  bottom: 0.75rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.display-none {
  display: none !important;
}

.addToCart .fa {
  color: #d7e2ef;
  transition: all 0.2s ease;
}

.addToCart:hover .fa {
  color: #8898aa;
}

#products {
  min-height: 60vh;
}

/*footer*/
#footer {
  border-top: 1px solid #d7e3ef;
}

.vertical-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
